- var br = '<br />'
section.bonus
  h2.main-article не упусти свою скидку
  .bonus__video-block
    video(width="100%" height="100%" controls="controls" id='video')
      source(src="video/video.mp4" type="video/mp4")
  .bonus__conditions
    p 
      | Выиграй 
      span 100 000 
      |рублей&nbsp;на&nbsp;шопинг!{br}
      | или одну из 
      span 300 
      | подарочных карт 
    .bonus__icon(data-aos="zoom-in-down")
    .bonus__icon(data-aos="zoom-in-down")
    ul.regulations
      span Для этого:
      li С 10 по 12 июня соверши покупку на 2000 рублей в магазинах МЕГИ 
      li Зарегистрируй чек 
      li Участвуй в розыгрыше 12&nbsp;июня
    a(href="https://mega.ru/omsk/events/2017/18486/?utm_source=byyd&utm_medium=mobile&utm_term={APP_ID}&utm_content=banner_marathon&utm_campaign=mega_omsk_marathon", target="_blank").bonus__btn подробнее
