footer.main-footer
  h2 Контакты
  ul.main-footer__contact-list
      li.contact-list__item(data-aos="flip-up" data-aos-duration="1500")
        address г. Омск, Бульвар Архитекторов, дом 35
      li.contact-list__item(data-aos="flip-up" data-aos-duration="1500")
        a(href="tel:+7 3812 40-81-70" target="_blank").main-footer__tel +7 3812 40-81-70
      li.contact-list__item(data-aos="flip-up" data-aos-duration="1500")
        time Ежедневно 10:00 – 22:00
  .main-footer__map
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0d7659afebbb023e1d56d9f3520a856a8f70f624e05400226d2a5069df5edbe8&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
  .main-footer__btn
    a(href="https://itunes.apple.com/ru/app/mega/id674401929?mt=8", data-aos="fade-right", data-aos-duration="1000").apple-btn.ga-appstore.byyd
      img(src="img/apple.png")
    a(href="https://play.google.com/store/apps/details?id=ru.megamall.android", data-aos="fade-left", data-aos-duration="1000").google-btn.ga-googleplay.byyd
      img(src="img/google.png")
  
  p.main-footer__text-actions
    | Срок проведения акции с 10 по 12 июня 2017 г. Список магазинов, участвующих в акции, размер предоставляемой скидки, а также иные подробности акции смотрите на www.mega.ru. В рамках данного специального предложения с 10 по 12 июня 2017 года при совершении Участником Программы лояльности по расчетным картам в разрешенных овердрафтом MEGACARD (по тексту — Программа) операциях по оплате товаров и услуг с использованием Карты в магазинов-участников Программы на территории СТЦ МЕГА, за | | исключением ИКЕА (ООО «ИКЕА ДОМ»), на Бонусный счет Участника Программы будут начислены дополнительные Бонусные баллы в размере 20 % от суммы операции. При этом максимальное количество дополнительных Бонусных баллов, которые может получить Участник Программы при выполнении условий данного предложения, составляет 2000 (две тысячи) дополнительных Бонусных баллов. Расчетные карты с разрешенным овердрафтом MEGACARD выпускаются АО «Кредит Европа Банк». Тарифы, Условия участия в программе MEGACARD и подробности всех спецпредложений – на mega.ru и по телефону +7 (800) 700 7676.
    
    
