head
  title МЕГА
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0б, maximum-scale=1")
  meta(name="HandheldFriendly" content="True")
  meta(http-equiv="cleartype" content="on")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(name="author" content="")
  meta(name="copyright" content="")
  meta(http-equiv="Reply-to" content="magicilusha@gmail.com")
  <!-- Open Graph -->
  meta(property="og:site_name" content="")
  meta(property="og:title" content="")
  meta(property="og:description" content="")
  meta(property="og:type" content="website")
  meta(property="og:url" content="")
  meta(property="og:image" content="")
  <!-- Twitter Card -->
  meta(name="twitter:card" content="app")
  meta(name="twitter:site" content="@")
  meta(name="twitter:description" content="")
  meta(name="twitter:app:country" content="")
  meta(name="twitter:app:name:iphone" content="")
  meta(name="twitter:app:id:iphone" content="")
  meta(name="theme-color" content="#eee066")
  meta(name="msapplication-navbutton-color" content="#eee066")
  meta(name="apple-mobile-web-app-status-bar-style" content="#eee066")
  link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
  link(href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet")
  link(rel='stylesheet' type='text/css' href='css/app.css')
  script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
