- var br = '<br />'
header.main-header
  .main-wrapper
    .wrapper-header
      .main-header__top-item
        .logo
          img(src="img/logo.png", alt="логотип")
        .soc-wrapper
          a(href='https://vk.com/mega_omsk')
          a(href='https://www.facebook.com/megamallomsk')
          a(href='https://www.instagram.com/mega_omsk/')
          a(href='https://www.youtube.com/channel/UCf8fB9U57sV1VzfTIW6LCzg')
            
      .main-header__content
        .main-header__man
          img(src="img/man.png", alt="", data-aos="fade-down-right", data-aos-duration="1300")
        .main-header__text
          h1 Марафон!{br}Скидок
          span(data-aos="fade-left") 10 - 12 июня
          time 10:00 - 22:00
      .main-header__bottom-item
        img(src="img/card.png", alt="мегакарта").megacard
        .percent-block
          .circle-percent
            span +20%
              i баллов
          p в магазинах-участниках!{br}по MEGACARD
        .main-header__btn
          a(href="https://mega.ru/omsk/events/2017/18486/?utm_source=byyd&utm_medium=mobile&utm_term={APP_ID}&utm_content=banner_marathon&utm_campaign=mega_omsk_marathon", target="_blank") подробнее
  .main-header__line
