- var br = '<br />'
section.special-offers
  .main-wrapper
    h2.main-article  Не упусти свои бонусы
    h3 СПЕЦПРЕДЛОЖЕНИЯ
      small скидки до 
        span 70%
    ul.special-offers__list-company
      - for (var i = 1; i < 33; i++) {
        li.special-offers__item-company
          a(href="#") 
      - }
    a(href="#").special-offers__other-company все предложения
      
