doctype html
html(lang="ru")
  include ./template/head.pug
  body
    include ./template/header.pug
    include ./template/schedule-sale.pug
    include ./template/special-offers.pug
    include ./template/bonus.pug
    include ./template/footer.pug
    script(src='js/app.js')
